<mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Douglas Soares de Souza Ferreira</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Full Stack</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
        <img src="assets/images/douglas.jpeg" alt="Foto de Douglas Soares de Souza Ferreira" class="profile-img">

      <p>
        Olá! Sou Douglas Soares de Souza Ferreira, desenvolvedor full stack com uma sólida formação em Ciência da Computação pela PUC-GO. Ao longo da minha carreira, adquiri vasta experiência em desenvolvimento de software, atuando tanto no backend quanto no frontend. 
      </p>
      <p>
        Minhas principais competências incluem Java, Spring Boot, Angular, Flutter e Node.js, sempre buscando implementar soluções eficientes, escaláveis e com foco em qualidade de código. Tenho paixão por explorar novas tecnologias e aplicar boas práticas de desenvolvimento, como Clean Architecture, Testes Automatizados e Integração Contínua.
      </p>
      <p>
        Além de minhas habilidades técnicas, possuo grande interesse em aprimorar a experiência do usuário (UI/UX) nas aplicações que desenvolvo, garantindo interfaces intuitivas e funcionais. 
      </p>
      <p>
        Ao longo dos anos, tive a oportunidade de trabalhar em projetos desafiadores, integrando APIs, microsserviços e arquiteturas baseadas em nuvem. Estou sempre buscando expandir meu conhecimento e colaborar em projetos inovadores.
      </p>
    </mat-card-content>
</mat-card>
